html {
	min-width: 320px;
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	background-color: #13131D;
	color: white;
  }
body {
	height: 100%;
	margin: 0;
	padding: 0;
}
#root {
	min-height: 100%;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

input {
	font-family: 'Montserrat', sans-serif;
	font-size: inherit;
	color: white;
}
input::placeholder {
	color: #454651;
}
a {
	text-decoration: inherit;
	text-transform: uppercase;
	color: inherit;
}
button {
	outline: none;
	padding: 0;
	font-size: inherit;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
}
small {
	text-transform: lowercase;
	font-size: 12px;
}
/*Override default leaflet syles*/
.point-popup .leaflet-popup-content-wrapper{
	background-color: #13131D;
	border-radius: 0;
}
.point-popup .leaflet-popup-content {
	margin: 0;
	min-width: 150px;
	font-size: 14px;
	color: white;
}
.point-popup .leaflet-popup-close-button {
	color: white;
}
.point-popup .leaflet-popup-tip {
	background-color: #13131D;
}

/*DEPRECATED BELOW*/
.game {
	background-color: blue;
	border-radius: 3px;
	color: white;
	border-right: 3px solid blue;
	height: 157px;
	width: 124px;
}
.game-img {
	display: block;
	border-top: 1px solid white;
	border-bottom: 10px solid black;
	background-color:gray;
	height: 124px;
	width: 124px;
	text-align: center;
	line-height: 114px;
	font-size: 120px;
}
.offer, .offers-add-suggestion {
	vertical-align: top;
	display: inline-block;
	position: relative;
	margin: 20px;
	cursor: pointer;
}
.game-tile {
	vertical-align: top;
	display: inline-block;
	margin: 12px;
	position: relative;
}
.offer-delete {
	position: absolute;
	top: -4px;
	right: 2px;
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 0;
	margin: 0;
	font-size: 24px;
	color: #FDE74C;
}
.map-wrapper {
	display: inline-block;
	width: 50%;
	height: 100px;
	background: grey;
}

header nav>*, header nav>button.link {
	display: inline-block;
	padding: 10px;
	line-height: 30px;
	text-decoration: none;
	background: none;
	border: none;
	outline: none;
	color: white;
	cursor: pointer;
}

.search-panel {
	display: flex;
	flex-basis: 50%;
	flex-grow: 1;
}
.search-panel_part {
	width: 50%;
	opacity: .99; /*create stacking context for map*/
}